<div>
  <p>Teachers collection</p>
  <p>There are {{collection.length}} teachers</p>
  <button id='add-teacher'>Add teacher</button>
  <button id='remove-teacher'>Remove teacher</button>
  <button id='reset-teacher'>Reset teacher</button>
</div>
